@import '../../styles.scss';

.page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    
}

.form-container {
    flex-grow: 1;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.form-header {
    @extend .h2-text;
    color: $on-background;
    margin-bottom: 25px;
}

.form-subheader {
    @extend .h3-text;
    color: $placeholder;
    margin-bottom: 30px;
}

.form {
    width: 30%;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-input-label {
    @extend .body3-text;
    color: $primary-dark;
    margin-bottom: 5px;
}

.form-input {
    @extend .body3-text;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid;    
    
    color: $on-background;
    border-color: $border;

    transition: all 0.2s ease-in;
    
}

.form-input::placeholder {
    color: $placeholder;
}

.form-input:focus {
    border-color: $primary-light;
}

.form-input-error {
    color: $error;
    @extend .caption-text;
    margin-top: 5px;
}

.form-submit-btn {
    @extend .primary-btn-filled;
    margin-top: 10px;
    padding: 12px 28px;
    border-radius: 10px;
}

.form-submit-btn:hover {
    @extend .primary-btn-filled--hover;
}

.form-submit-btn:active {
    @extend .primary-btn-filled--active;
}

.alternate-link-text {
    @extend .body2-text;
    color: $on-background;
}

.alternate-link {
    text-decoration: none;
    color: $primary;
}

.error-toast-container {
    @extend .body2-text;
    color: $on-error;

    background-color: $error-transparent;
    position: absolute;
    top: 30px;

    padding: 0.5em 1.5em;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.error-toast-icon {
    height: 25px;
    margin-right: 10px;
}