<app-navbar></app-navbar>
<div class="page-container">
    <div class="form-container">
        <app-error-toast [error]="updateError"></app-error-toast>
        <h1 class="form-header">Change Password</h1>
        <h3 class="form-subheader">Change your account password</h3>
        <form class="form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <div class="form-input-container">
                <label for="password" class="form-input-label">New Password</label>
                <input type="password" id="password" placeholder="Enter your password" class="form-input"
                    formControlName="password" minlength="5" required>
                <p class="form-input-error"
                    *ngIf="(password.dirty || password.touched) && password.errors?.required">New Password
                    required field</p>
                <p class="form-input-error"
                    *ngIf="(password.dirty || password.touched) && password.errors?.minlength">Password minlength is 5</p>    
            </div>
            <div class="form-input-container">
                <label for="confirmPassword" class="form-input-label">Confirm Password</label>
                <input type="password" id="confirmPassword" placeholder="Confirm your password" class="form-input"
                formControlName="confirmPassword" minlength="5" required>
                <p class="form-input-error"
                *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors?.minlength">Password minlength is 5</p>
                <p class="form-input-error"
                    *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors?.notSame">Passwords don't match</p>    
            </div>
            <div class="form-input-container">
                <button class="form-submit-btn" type="submit" [disabled]="!passwordForm.valid">Change Password</button> 
            </div>
        </form>
    </div>
</div>