$primary: #0569b9;
$primary-light: #5896ec;
$primary-dark: #003f88;

$secondary-yellow: #ffd200;

$error: #C90000;
$error-transparent: rgba(201, 0, 0, 0.7);
$border: #C9C9C9;
$placeholder: #A5A5A5;

$background: #F9FAFE;
$surface: #F9FAFE;

$on-primary: #FFFFFB;
$on-primary-light: #232528;
$on-primary-dark: #FFFFFB;

$on-secondary-yellow: #232528;

$on-error: #FFFFFB;

$on-background: #232528;
$on-surface: #232528;

$primary-shadow: rgba(5, 105, 185, 0.2);
$secondary-teal-shadow: rgb(74, 189, 172, 35%);
$secondary-yellow-shadow: rgb(252, 210, 34, 35%);
$card-shadow: rgb(112, 144, 176, 35%);