// @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

.title-text {
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
}

.h1-text {
    font-size: 32px;
    font-weight: normal;
    font-style: normal; 
}

.h2-text {
    font-size: 23px;
    font-weight: normal;
    font-style: normal; 
}

.h3-text {
    font-size: 16px;
    font-weight: normal;
    font-style: normal; 
}

.h4-text {
    font-size: 12px;
    font-weight: normal;
    font-style: normal; 
}

.body1-text {
    font-size: 16px;
    font-weight: normal;
    font-style: normal; 
    line-height: 29px;
}

.body2-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal; 
    line-height: 22px;
}

.body3-text {
    font-size: 12px;
    font-weight: normal;
    font-style: normal; 
    line-height: 20px;
}

.button-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal; 
    line-height: 29px;
    text-transform: uppercase;
}

.caption-text {
    font-size: 10px;
    font-weight: normal;
    font-style: normal; 
    line-height: 18px;
}

.overline-text {
    font-size: 10px;
    font-weight: normal;
    font-style: normal; 
    line-height: 18px;
    text-transform: uppercase;
}